﻿@{
    ViewBag.Title = "AfterLogin";
}


<ul>                                                                         
                    
                    <li>@Html.ActionLink("Dodaj rezerwację", "WyborRezerwacji", "Rezerwacje", new { kierunek = "Kraków" },null)</li>
                    <li>@Html.ActionLink("Przeglądaj rezerwacje", "PrzegladajRezerwacje", "Rezerwacje")</li>

        	    </ul>