﻿@model FirmaTransportowa.Models.OSOBA

@{
    ViewBag.Title = "Rejestracja";
}

<h2>Rejestracja</h2>
 
            @using (Html.BeginForm()) {
                @Html.ValidationSummary(true)
 
                <fieldset>
                    <legend>User</legend>
                    @Html.AntiForgeryToken()
                    @if (ViewBag.Message != null)
                    {
                        <div style="border:solid 1px green">
                            @ViewBag.Message
                        </div>
                    }

                    <div class="editor-label">
                        @Html.LabelFor(model => model.OSO_LOGIN)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.OSO_LOGIN)
                        @Html.ValidationMessageFor(model => model.OSO_LOGIN)
                    </div>
 
                    <div class="editor-label">
                        @Html.LabelFor(model => model.OSO_HASLO)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.OSO_HASLO)
                        @Html.ValidationMessageFor(model => model.OSO_HASLO)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.OSO_IMIE)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.OSO_IMIE)
                        @Html.ValidationMessageFor(model => model.OSO_IMIE)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.OSO_NAZWISKO)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.OSO_NAZWISKO)
                        @Html.ValidationMessageFor(model => model.OSO_NAZWISKO)
                    </div>
 
                    <div class="editor-label">
                        @Html.LabelFor(model => model.OSO_URODZONY)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.OSO_URODZONY, new { id = "Dob"})
                        @Html.ValidationMessageFor(model => model.OSO_URODZONY)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.DANE_TELEADRESOWE.DAN_EMAIL)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DANE_TELEADRESOWE.DAN_EMAIL)
                        @Html.ValidationMessageFor(model => model.DANE_TELEADRESOWE.DAN_EMAIL)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DANE_TELEADRESOWE.DAN_TELEFON)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DANE_TELEADRESOWE.DAN_TELEFON)
                        @Html.ValidationMessageFor(model => model.DANE_TELEADRESOWE.DAN_TELEFON)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DANE_TELEADRESOWE.DAN_ULICA_NR_LOKALU)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DANE_TELEADRESOWE.DAN_ULICA_NR_LOKALU)
                        @Html.ValidationMessageFor(model => model.DANE_TELEADRESOWE.DAN_ULICA_NR_LOKALU)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DANE_TELEADRESOWE.DAN_KOD_POCZTOWY)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DANE_TELEADRESOWE.DAN_KOD_POCZTOWY)
                        @Html.ValidationMessageFor(model => model.DANE_TELEADRESOWE.DAN_KOD_POCZTOWY)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.DANE_TELEADRESOWE.DAN_MIASTO)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.DANE_TELEADRESOWE.DAN_MIASTO)
                        @Html.ValidationMessageFor(model => model.DANE_TELEADRESOWE.DAN_MIASTO)
                    </div>
                    
                    <p>
                        <input type="submit" value="Utwórz" />
                    </p>
                </fieldset>
            }
 
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

 @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Dob").datepicker({
                maxDate: new Date() - "2920",
                minDate: "-41000",
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}