﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@Url.Content("~/Content/MainSt.css")" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/modernizr")
        @* @Styles.Render("~/Content/css")@*
        
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Strona Główna", "Index", "Home")</li>
                            <li>@Html.ActionLink("O Firmie", "About", "Home")</li>
                            <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Rozkład", "Rozklad", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>        
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>*@
        </head>

    <body>
        <div id="main_container">
	        <div id="header">
    	        <div class="logo"><img src="~/Content/themes/newTheme/jj.png" border="0" alt="" title="" /></div>       
            </div>
            <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
            </div>
            <div class="menu">
        	    <ul>                                                                         
        		    <li class="selected">@Html.ActionLink("Strona Główna", "Index", "Home")</li>
                    <li>@Html.ActionLink("O Firmie", "About", "Home")</li>
                    <li>@Html.ActionLink("Rozkład", "Rozklad", "Home")</li>
                    <li>@Html.ActionLink("Rezerwacja", "WyborRezerwacji", "Rezerwacje", new { kierunek = "Kraków" },null)</li>
                    @*<li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>*@
        	    </ul>
            </div>
            <div class="center_content">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
                </div>
            <div id="footer">                                              
                <div class="left_footer"><a href="@Url.Action("Index", "Home")">Strona główna</a> | <a href="@Url.Action("About", "Home")">o firmie</a> | <a href="@Url.Action("Index", "Home")">kontakt</a>
                </div>   
    
             </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
