﻿@if (Request.IsAuthenticated) {
    
    <ul>
        <li>@Html.ActionLink("Moje konto", "MojeKonto", "Home", routeValues: new {_id = @User.Identity.Name.ToString()}, htmlAttributes: new { title = "Manage" })</li>
        <li>@Html.ActionLink("Wyloguj", "LogOut", "Konto", routeValues: null, htmlAttributes: new { id = "logoutForm" })</li>
    </ul>@*
    
    <text>
        @Html.ActionLink("Moje konto", "MojeKonto", "Home", routeValues: new {_id = @User.Identity.Name.ToString()}, htmlAttributes: new { @class = "username", title = "Manage" })
        @using (Html.BeginForm("LogOut", "Konto", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
        }
    </text>*@
} else {
    <ul>
        <li>@Html.ActionLink("Rejestracja", "Register", "Konto", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Logowanie", "Login", "Konto", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
