﻿@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>O firmie</h1>
</hgroup>

Cały czas staramy się rozwijać w kierunku przewozu osób, zapewniając Państwu jak najlepsze warunki podróży. Na stronie znajdziecie Państwo zawsze aktualne rozkłady jazdy, cenniki biletów, a także informacje umożliwiające kontakt z naszą firmą. 
<section class="firm_img"></section>