﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2 class="hedr">Niezawodność, komfort,
                    </br> bezpieczeństwo</h2>
            </hgroup>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br /> Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.<br /> Cras vel lorem. Etiam pellentesque aliquet tellus.<br/> Phasellus pharetra nulla ac diam. Quisque semper<br/> justo at risus. Donec venenatis, turpis vel hendrerit <br />interdum, dui ligula ultricies purus, sed posuere<br /> libero dui id orci.
            
        </div>
    </section>
}

